window headerbar:not(.selection-mode),
window .titlebar:not(.selection-mode) {
  padding-left: 0;
}

window headerbar ~ headerbar:not(.selection-mode):not(.windowhandle),
window headerbar ~ .titlebar:not(.selection-mode):not(.windowhandle),
window .titlebar ~ .titlebar:not(.selection-mode):not(.windowhandle),
window .titlebar ~ headerbar:not(.selection-mode):not(.windowhandle) {
  padding-left: 6px;
}

window headerbar > box.left,
window .titlebar > box.left {
  margin: 0 0 0 -200px;
  opacity: 0;
}

window .titlebar.default-decoration {
  margin: -200px 0 0;
  opacity: 0;
}
