$position: 'left' !default

.csd

  &.maximized, &.tiled

    headerbar, .titlebar

      &:not(.default-decoration)
        padding-#{$position}: 0

        ~ headerbar, ~ .titlebar
          padding-left: 6px

        > box

          @if $position == 'left'
            &.left
              margin: 0 0 0 -200px
              opacity: 0

          @if $position == 'right'
            &.right
              margin: 0 -200px 0 0
              opacity: 0

    .titlebar.default-decoration
      margin: -200px 0 0
      opacity: 0
