$position: 'left' !default

window

  &.maximized, &.tiled

    headerbar, .titlebar

      &:not(.default-decoration)
        padding-#{$position}: 0

        ~ headerbar, ~ .titlebar
          padding-left: 6px

        > box

          &.left
            margin: 0 0 0 -200px
            opacity: 0

          &.right
            margin: 0 -200px 0 0
            opacity: 0

    .titlebar.default-decoration
      margin: -200px 0 0
      opacity: 0
