headerbar,
.titlebar {
  padding-left: 0;
}

.titlebar headerbar ~ headerbar {
  padding-left: 6px;
}

.titlebar .titlebar {
  padding-left: 0;
}

headerbar > box.left,
.titlebar > box.left {
  margin: 0 0 0 -200px;
  opacity: 0;
}

.titlebar.default-decoration {
  margin: -200px 0 0;
  opacity: 0;
}
