#panel .panel-button {
  -natural-hpadding: 8px;
  -minimum-hpadding: 6px;
}

#panel .panel-button .system-status-icon {
  padding-left: 0px;
  padding-right: 0px;
}

#panel .panel-button .panel-status-indicators-box {
  spacing: 12px;
}

#panel .panel-button .panel-status-indicators-box .panel-status-indicators-box {
  spacing: 4px;
}

#panelRight .window-controls-container {
  margin-left: 8px;
  margin-right: 8px;
}

#panelRight .window-controls-container:last-child {
  margin-right: 0px;
}

#panel.extra-spacing .panel-button .panel-status-indicators-box {
  spacing: 10px;
}

#panel.classic-spacing #appMenu,
#panel.extra-spacing #appMenu, {
  margin-left: 8px;
  margin-right: 8px;
}
