#panelLeft,
#panelCenter,
#panelRight {
  spacing: 0px;
}

#panel .panel-button {
  -natural-hpadding: 6px;
  -minimum-hpadding: 4px;
  padding-left: 6px;
  padding-right: 6px;
}

#panel .panel-button > .system-status-icon {
  padding-left: 0px;
  padding-right: 0px;
}

#panel .panel-button .panel-status-indicators-box {
  spacing: 4px;
}

#panel #panelActivities,
#panel .system-tray-icons,
#panel .desktop-name-label {
  -natural-hpadding: 10px;
  -minimum-hpadding: 8px;
}

#panel .system-tray-icons .panel-status-indicators-box {
  spacing: 10px;
}

#panel .panel-button.clock-display {
  -natural-hpadding: 0px;
  -minimum-hpadding: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#panel .clock-display-box .clock {
  padding-left: 8px;
  padding-right: 8px;
}

#panel .clock-display-box StIcon:last-child {
  margin-right: 3px;
}

#panel .window-controls-container {
  margin-left: 4px;
  margin-right: 4px;
}

#panelLeft .window-controls-container:first-child {
  margin-left: 0px;
}

#panelRight .window-controls-container:last-child {
  margin-right: 0px;
}
