#panel .panel-button {
  -natural-hpadding: 8px;
  -minimum-hpadding: 6px;
}

#panel .panel-button .system-status-icon {
  padding: 0;
}

#panel .panel-button .panel-status-indicators-box {
  spacing: 12px;
}

#panel .panel-button .panel-status-indicators-box .panel-status-indicators-box {
  spacing: 4px;
}
