.window-button .icon {
  width: 24px;
  height: 24px;
}

.close .icon {
  background-image: url("close.svg");
}

.close:hover .icon {
  background-image: url("close_prelight.svg");
}

.close:active .icon {
  background-image: url("close_pressed.svg");
}

.minimize .icon {
  background-image: url("minimize.svg");
}

.minimize:hover .icon {
  background-image: url("minimize_prelight.svg");
}

.minimize:active .icon {
  background-image: url("minimize_pressed.svg");
}

.maximize .icon {
  background-image: url("maximize.svg");
}

.maximize:hover .icon {
  background-image: url("maximize_prelight.svg");
}

.maximize:active .icon {
  background-image: url("maximize_pressed.svg");
}
