.maximized > headerbar:not(.selection-mode),
.maximized > .titlebar:not(.selection-mode),
.maximized > headerbar > headerbar:not(.selection-mode),
.maximized > .titlebar > .titlebar:not(.selection-mode),
.maximized > .titlebar > stack > headerbar:not(.selection-mode),
.maximized headerbar:last-child:not(.selection-mode),
.maximized .titlebar:last-child:not(.selection-mode),
.maximized .windowhandle:not(.selection-mode) {
  padding-right: 0;
}

.maximized headerbar > box.right,
.maximized .titlebar > box.right {
  margin: 0 -200px 0 0;
  opacity: 0;
}

.maximized .titlebar.default-decoration {
  margin: -200px 0 0;
  opacity: 0;
}
