.window-button .icon {
  width: 16px;
  height: 16px;
}

.window-button .close {
  background-image: url("close.svg");
}

.window-button:hover .close,
.window-button:active .close {
  background-image: url("close-active.svg");
}

.window-button .minimize {
  background-image: url("minimize.svg");
}

.window-button:hover .minimize,
.window-button:active .minimize {
  background-image: url("minimize-active.svg");
}

.window-button .maximize {
  background-image: url("maximize.svg");
}

.window-button:hover .maximize,
.window-button:active .maximize {
  background-image: url("maximize-active.svg");
}
