#panel .panel-button {
  -natural-hpadding: 8px;
  -minimum-hpadding: 6px;
}

#panel .panel-button .system-status-icon {
  margin: 0;
  padding: 0;
}

#panel .panel-button .panel-status-menu-box {
  margin: 0;
  padding: 0;
  spacing: 0;
}

#panel .panel-button .panel-status-indicators-box {
  spacing: 10px;
}

#panel .panel-button .panel-status-indicators-box .popup-menu-arrow {
  width: 12px;
  height: 12px;
}

#panel .popup-menu-arrow,
#panel .app-menu-icon {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

#panel .window-buttons-box {
  spacing: 2px;
}

#panel .window-buttons-box:first-child .window-button:first-child {
  padding-left: 2px;
}

#panel .window-buttons-box .window-button {
  width: 22px;
  height: 28px;
}

#panel .window-buttons-box .icon {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  border: 0;
}

#panel .tray-buttons-box {
  spacing: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#panel .desktop-name {
  padding: 0 8px;
}

#panel #appMenu {
  margin-left: 8px;
  margin-right: 3px;
}

#panel #appMenu .popup-menu-arrow {
  margin-left: 5px;
}

#panel #appMenu .app-menu-icon > StIcon {
  icon-shadow: none;
}
