#panel.small-spacing .panel-button {
  -natural-hpadding: 8px;
  -minimum-hpadding: 6px;
}

#panel.small-spacing .panel-button .system-status-icon {
  padding: 0;
}

#panel.small-spacing .panel-button .panel-status-indicators-box {
  spacing: 12px;
}

#panel.small-spacing .panel-button .panel-status-indicators-box .panel-status-indicators-box {
  spacing: 4px;
}

#panel.small-spacing.extra-spacing .panel-button .panel-status-indicators-box {
  spacing: 10px;
}

#panel.small-spacing.extra-spacing #appMenu {
  margin: 0 8px;
}

#panel .panel-button.window-controls {
  -natural-hpadding: 0px;
  -minimum-hpadding: 0px;
}

#panel .window-controls-box {
  spacing: 2px;
}

#panel .window-controls-box .window-button {
  width: 22px;
}

#panelLeft .window-controls-box:first-child .window-button:first-child {
  padding-left: 3px;
}

#panelRight .window-controls-box:last-child .window-button:last-child {
  padding-right: 3px;
}

#panel .window-controls-box .icon {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  border: 0;
}
