.window-button .icon {
  width: 18px;
  height: 18px;
}

.close .icon {
  background-image: url("titlebutton-close.png");
}

.close:hover .icon {
  background-image: url("titlebutton-close-hover.png");
}

.close:active .icon {
  background-image: url("titlebutton-close-active.png");
}

.minimize .icon {
  background-image: url("titlebutton-minimize.png");
}

.minimize:hover .icon {
  background-image: url("titlebutton-minimize-hover.png");
}

.minimize:active .icon {
  background-image: url("titlebutton-minimize-active.png");
}

.maximize .icon {
  background-image: url("titlebutton-maximize.png");
}

.maximize:hover .icon {
  background-image: url("titlebutton-maximize-hover.png");
}

.maximize:active .icon {
  background-image: url("titlebutton-maximize-active.png");
}
