.window-button .icon
{
	width: 19px;
	height: 19px;
}

.close          .icon { background-image: url("close.svg");          }
.close:hover    .icon { background-image: url("close-hover.svg");    }
.minimize       .icon { background-image: url("minimize.svg");       }
.minimize:hover .icon { background-image: url("minimize-hover.svg"); }
.maximize       .icon { background-image: url("maximize.svg");       }
.maximize:hover .icon { background-image: url("maximize-hover.svg"); }
