window headerbar windowhandle {
  margin-right: -6px;
}

window headerbar windowcontrols.end {
  margin: 0 -200px 0 0;
  opacity: 0;
}

window .titlebar.default-decoration {
  margin: -200px 0 0;
  opacity: 0;
}
